h1 {text-align: center;}

body {
    background-image: radial-gradient(circle, #D3D3D3 2px, transparent 1px),
                      radial-gradient(circle, #D3D3D3 2px, transparent 1px);
    background-position: 25px 25px;
    background-size: 50px 50px
}

.hide {
    display: none
}

.draggable {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    cursor: move;
}

.drop-zone {
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9
}

.drop-zone.over{
    background-color: #e0e0e0;
}