h1 {
    text-align: center;
}

/* body {
    background-image: radial-gradient(circle, #D3D3D3 2px, transparent 1px),
                      radial-gradient(circle, #D3D3D3 2px, transparent 1px);
    background-position: 25px 25px;
    background-size: 50px 50px
} */

body {
    background-color: rgb(32, 32, 32);
}

.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    background-color: #D3D3D3;
    left: 500px;
    top: 10px;
}

.example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

.example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
}

.example-box {
    box-shadow: 5px 5px 4px black;
    background-color: rgb(32, 32, 32);
    border: 2px solid rgba(255, 103, 21, 0.997);
    border-radius: 10px;
    position: fixed;
    /* left: 0px;
    top: 0px; */
    width: 300px;
    height: 95vh;
    padding: 10px;
    z-index: 9;
}

.element-colors {
    background-color: rgb(52, 52, 52);
    /* border: 2px solid white; */
    border-radius: 10px;
    position: relative;
    left: 5px;
    top: .5vh;
    width: 270px;
    height: 10vh;
    padding: 10px;
    font-family: Arial Bold;
    color: white;
    text-align: center;
}


.color-option-red {
    border: 2px solid white;
    background-color: red;
    border-radius: 5px;
    position: relative;
    left: 5px;
    top: 1vh;
    width: 5px;
    height: .7vh;
    padding: 10px;
}

/* .color-option-blue {
    border: 2px solid white;
    background-color: blue;
    border-radius: 5px;
    position: relative;
    left: 10px;
    top: 1vh;
    width: 5px;
    height: .7vh;
    padding: 10px;
} */
/* #D3D3D3 */

.element-shapes {
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
    position: relative;
    left: 5px;
    width: 270px;
    height: 12vh;
    top: 3vh;
    padding: 10px;
    font-family: Arial Bold;
    color: white;
    text-align: center;
}
